<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
<connectionStrings>
    <add name="connstring" connectionString="Data Source=sharkbb;Initial Catalog=SMDB;Integrated Security=True" />
    <add name="StudentManager.Properties.Settings.SMDBConnectionString"
        connectionString="Data Source=sharkbb;Initial Catalog=SMDB;Integrated Security=True;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
	<appSettings>
		<add key="pversion" value="3.0" />
	</appSettings>

</configuration>
